.App {
  text-align: center;
}

.boxes {
  padding-left: 28px;
}


/*.App-header {
  background-color: lightgreen;
  height: 10px;
  padding: 20px;
  color: wh.ite;

}*/

/*.App-intro {
  font-size: large;
}*/

.resized-photo {
  height: 500px;
}

p{
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}


.recipe-title{

    font-family: sans-serif;
    color: orange;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 55px;
  
}

#searchbar {
  padding-left: 30px;
  font-size: 25px;
  color: sea;
}

